* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

:root {
  --fonte_pequena: 1rem;
  --fonte_media: 2rem;
}

/* font-family: 'Rubik', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Inicio Navbar */
.menu {
  min-height: 125px;
}
.opcaomenu {
  color: #4f5665;
  font-size: 1rem;
  font-weight: 500;
}
.opcaomenu:hover {
  color: #4f5665;
}
.signup {
  color: #f53855;
  border: solid 1px #f53855;
  border-radius: 16px;
  background-color: white;
  padding: 5px 30px;
  margin-left: 20px;
  font-weight: bold;
}
/*Fim Navbar */

/* Inicio banner*/
.botaogetstarted {
  background-color: #f53838;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px #f53838;
  padding: 8px;
  width: 29%;
}
/* Fim banner*/

/*Inicio conteudo*/
.circuloicone{
  background-color: #FFECEC;
}
.icones {
  color: #f53838;
  background-color: #ffecec;
  padding: 22px;
  border-radius: 37px;
}
.nusuarios {
  box-shadow: 0px 29px 89px -68px #0d1025;
  align-items: center;
  height: 145px;
}
.check {
  background-color: #2fab73;
  color: white;
  background-color: #2fab73;
  color: white;
  padding: 4px;
  border-radius: 15px;
  font-size: 10px;
}
.imagemfestejar{
  text-align: center;
}
.numeracao{
  color: #0B132A;
  font-size: 25px;
  font-weight: bold;
}
/*Área dos planos*/
.planos {
  text-align: center;
  border: solid 2px #DDDDDD;
  padding: 18px;
  border-radius: 5px;
  align-items: center;
  margin: 0px 10px 0px;
}
.topicosplanos{
  min-height: 144px;
}
.chamadaplanos {
  text-align: center;
}
.checkplanos {
  color: #2fab73;
}
.nomedoplano {
  text-align: center;
}
.select{
  color: #f53855;
  border: solid 1px #f53855;
  border-radius: 16px;
  background-color: white;
  padding: 5px 30px;
  font-weight: bold;
}
.vantagens{
  font-weight: 14px;
}
.icon{
  width: 30%;
  float: left;
}
.descricao{
  width: 70%;
    float: left;
}
/*Fim Área dos planos*/
/*Inicio sessão mapa*/

.mapa{
  width: 90%;
}
/*Fim sessão mapa*/

/* Inicio card */
.titulos{
  font-size: 35px;
}
.imagemcard{
  border-radius: 50%;
}
.iconeestrela{
  color: #FEA250;
}
.name{
  font-size: 18px;
  font-weight: bold;
}
.cidade{
  font: 14px;
}
.caixacard{
  border-radius: 13px;
    align-items: center;
    text-align: center;
}
.card{
  min-height: 211px;
  max-height: 215px;
}
/* Fim card */

/*Fim conteudo--> */
